<footer th:fragment="footer">

	</div>


	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>

	<script th:src="@{/js/feather.min.js}"></script>

	<script th:src="@{/js/jquery.slimscroll.min.js}"></script>

	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

	<script th:src="@{/plugins/apexchart/apexcharts.min.js}"></script>
	<script th:src="@{/plugins/apexchart/chart-data.js}"></script>

	<script th:src="@{/js/script.js}" async></script>


	<script th:src="@{/plugins/select2/js/select2.min.js}"></script>

	<script th:src="@{/plugins/owlcarousel/owl.carousel.min.js}"></script>

	<script th:src="@{/plugins/sweetalert/sweetalert2.all.min.js}"></script>
	<script th:src="@{/plugins/sweetalert/sweetalerts.min.js}"></script>
	<script th:src="@{/plugins/fileupload/fileupload.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	</body>
	</html>