<div th:replace="layouts/header :: header"></div>
<meta charset="UTF-8">

<div class="page-wrapper">
	<div class="content">
		<div class="page-header">
			<div class="page-title">
				<a class="btn btn-rounded btn-outline-dark"
					th:href="@{/materiel/list}">Retour à la liste</a> <br />
				<h4>Details du materiel</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="bar-code-view">
							<img th:src="@{'/img/barcode1.png'}" alt="barcode"> <a
								class="printimg"> <img th:src="@{'/img/icons/printer.svg'}"
								alt="print">
							</a>
						</div>
						<div class="productdetails">
							<ul class="product-bar">
								<li>
									<h4>Nom</h4>
									<h6>
										<span th:text="${materiel.name}"> </span>
									</h6>
								</li>
								<li>
									<h4>Quantité</h4>
									<h6>
										<span th:text="${materiel.quantite}"> </span>
									</h6>
								</li>
								<li>
									<h4>Date Creation</h4>
									<h6>
										<span
											th:text="${#temporals.format(materiel.createAt, 'dd-MM-yyyy HH:mm')}">
										</span>
									</h6>
								</li>
								<li>
									<h4>Date d'Expiration</h4>
									<h6>
										<span
											th:text="${#temporals.format(materiel.expireAt, 'dd-MM-yyyy HH:mm')}">
										</span>
									</h6>
								</li>
								<li>
									<h4>Créer par</h4>
									<h6>
										<span th:text="${materiel.createBy.fullName}"> </span>
									</h6>
								</li>
								<li>
									<h4>Description</h4>
									<h6>
										<span th:text="${materiel.description}"> </span>
									</h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="slider-product-details">
							<div class="owl-carousel owl-theme product-slide">
								<div class="slider-product">
									<img th:src="@{'/img/uploads/'+${materiel.photo}}" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- footer part -->
<div th:replace="layouts/footer :: footer"></div>