<div th:replace="layouts/header :: header"></div>
<meta charset="UTF-8">

<div class="page-wrapper">
	<div class="content container-fluid">

		<div class="page-header">
			<div class="page-title">
				<h4>Historique Des Entrées Des Materiels</h4>
				<h6>Historique</h6>
			</div>
			<div class="page-btn">
				<!-- 				<a th:href="@{/view/categorieMateriel/add}" class="btn btn-added"><img -->
				<!-- 					th:src="@{/img/icons/plus.svg}" class="me-2" alt="img">Ajouter</a> -->
				<a href="javascript:void(0);" class="btn btn-adds"
					data-bs-toggle="modal" data-bs-target="#create"><i
					class="fa fa-plus me-2"></i>Enregistrer une entrée</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table  datanew ">
								<thead>
									<tr>
										<th></th>
										<th>Materiel</th>
										<th>Quantite</th>
										<th>Date</th>
										<th>Utilisateur</th>
									</tr>
								</thead>
								<tbody>
									<!-- 									<tr th:if="${listeCat.empty}"> -->
									<!-- 										<td colspan="9">Aucune depense disponible actuellement -->
									<!-- 											...</td> -->
									<!-- 									</tr> -->
									<tr th:each="d,i : ${mMateriels}">
										<td><span th:text="${i.count}"> 1 </span></td>
										<!-- 										<td class="productimgname"><a href="javascript:void(0);" -->
										<!-- 											class="product-img"> <img -->
										<!-- 												src="assets/img/product/product1.jpg" alt="product"> -->
										<!-- 										</a> <a href="javascript:void(0);">Macbook pro</a></td> -->
										<td class="productimgname"><a
											th:href="@{'/materiel/details/'+${d.materiel.id}}"
											class="product-img"> <img
												th:src="@{'/img/uploads/'+${d.materiel.photo}}">
										</a><span th:text="${d.materiel.name}"> </span></td>
										<td><span th:text="${d.quantite}"> </span></td>
										<td><span
											th:text="${#temporals.format(d.createAt, 'dd-MM-yyyy HH:mm')}">
										</span></td>
										<td><span th:text="${d.user.fullName}"> </span></td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 	debut modale -->
	<div class="modal fade" id="create" tabindex="-1"
		aria-labelledby="create" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Enregistrement d'une entrée de
						materiel</h5>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form role="form" method="post"
						th:action="@{/stock/materiel/entree}" th:object="${dto}">
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Materiel</label> <select type="text"
										class="select select2-hidden-accessible"
										th:field="*{materielId}">
										<option th:each="val : ${materiels}" th:value="${val.id}"
											th:text="${val.name}"></option>
									</select>
								</div>
							</div>

							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Quantité</label> <input type="text"
										th:field="*{quantite}">
								</div>
							</div>

						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-submit me-2">Valider
							</button>
							<a class="btn btn-cancel" data-bs-dismiss="modal">Annuler</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- footer part -->
	<div th:replace="layouts/footer :: footer"></div>