<div th:replace="layouts/header :: header"></div>

<div class="page-wrapper">
	<div class="content">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="dash-widget">
					<div class="dash-widgetimg">
						<span><img th:src="@{/img/icons/dash1.svg}" alt="img"></span>
					</div>
					<div class="dash-widgetcontent">
						<h5>
							<span class="counters" th:attr="data-count=${nbreProduit}"
								th:text="${nbreProduit}"></span>
						</h5>
						<h6>Total Produit</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="dash-widget dash1">
					<div class="dash-widgetimg">
						<span><img th:src="@{/img/icons/dash2.svg}" alt="img"></span>
					</div>
					<div class="dash-widgetcontent">
						<h5>
							<span class="counters" data-count="150.00">150.00</span>
						</h5>
						<h6>Total Materiel</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="dash-widget dash2">
					<div class="dash-widgetimg">
						<span><img th:src="@{/img/icons/dash3.svg}" alt="img"></span>
					</div>
					<div class="dash-widgetcontent">
						<h5>
							<span class="counters" data-count="5">5</span>
						</h5>
						<h6>Total Enseignant</h6>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="dash-widget dash3">
					<div class="dash-widgetimg">
						<span><img th:src="@{/img/icons/dash4.svg}" alt="img"></span>
					</div>
					<div class="dash-widgetcontent">
						<h5>
							<span class="counters" data-count="300">300</span>
						</h5>
						<h6>Total Etudiant</h6>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-7 col-sm-12 col-12 d-flex">
				<div class="card-body">
					<h4 class="card-title">Produits Périmés</h4>
					<div class="table-responsive dataview">
						<div class="table-responsive">
							<table class="table  datanew ">
								<thead>
									<tr>
										<th></th>
										<th>Name</th>
										<th>Type</th>
										<th>Quantité</th>
										<th>Date Creation</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!-- 									<tr th:if="${listeCat.empty}"> -->
									<!-- 										<td colspan="9">Aucune depense disponible actuellement -->
									<!-- 											...</td> -->
									<!-- 									</tr> -->
									<tr th:each="d,i : ${expiredP}">
										<td><span th:text="${i.count}"> 1 </span></td>
										<!-- 										<td class="productimgname"><a href="javascript:void(0);" -->
										<!-- 											class="product-img"> <img -->
										<!-- 												src="assets/img/product/product1.jpg" alt="product"> -->
										<!-- 										</a> <a href="javascript:void(0);">Macbook pro</a></td> -->
										<td class="productimgname"><a href="javascript:void(0);"
											class="product-img"> <img
												th:src="@{'/img/uploads/'+${d.photo}}">
										</a><span th:text="${d.name}"> </span></td>
										<td><span th:text="${d.type}"> </span></td>
										<td><span th:text="${d.quantite}+' '+${d.unite}">
										</span></td>
										<td><span
											th:text="${#temporals.format(d.createAt, 'dd-MM-yyyy HH:mm')}">
										</span></td>

										<td><a class="me-3"
											th:href="@{'/produit/details/'+${d.id}}"> <img
												th:src="@{'/img/icons/eye.svg'}" alt="details">
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-sm-12 col-12 d-flex">
				<div class="card flex-fill">
					<div
						class="card-header pb-0 d-flex justify-content-between align-items-center">
						<h4 class="card-title mb-0">Produit ajouter récemment</h4>
						<div class="dropdown">
							<a href="javascript:void(0);" data-bs-toggle="dropdown"
								aria-expanded="false" class="dropset"> <i
								class="fa fa-ellipsis-v"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<li><a href="productlist.html" class="dropdown-item">Product
										List</a></li>
								<li><a href="addproduct.html" class="dropdown-item">Product
										Add</a></li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive dataview">
							<table class="table datatable ">
								<thead>
									<tr>
										<th></th>
										<th>Produit</th>
										<th>Quantite</th>
									</tr>
								</thead>
								<tbody>
									<!-- 									<tr th:if="${listeCat.empty}"> -->
									<!-- 										<td colspan="9">Aucune depense disponible actuellement -->
									<!-- 											...</td> -->
									<!-- 									</tr> -->
									<tr th:each="d,i : ${lastP}">
										<td><span th:text="${i.count}"> 1 </span></td>
										<!-- 										<td class="productimgname"><a href="javascript:void(0);" -->
										<!-- 											class="product-img"> <img -->
										<!-- 												src="assets/img/product/product1.jpg" alt="product"> -->
										<!-- 										</a> <a href="javascript:void(0);">Macbook pro</a></td> -->
										<td class="productimgname"><a href="javascript:void(0);"
											class="product-img"> <img
												th:src="@{'/img/uploads/'+${d.photo}}">
										</a><span th:text="${d.name}"> </span></td>
										<td><span th:text="${d.quantite}+' '+${d.unite}">
										</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-0">
			<div class="card-body">
				<h4 class="card-title">Mouvement de stock</h4>
				<div class="table-responsive">
					<table class="table  datanew ">
						<thead>
							<tr>
								<th></th>
								<th>Produit</th>
								<th>Quantite</th>
								<th>Date</th>
								<th>Utilisateur</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<!-- 									<tr th:if="${listeCat.empty}"> -->
							<!-- 										<td colspan="9">Aucune depense disponible actuellement -->
							<!-- 											...</td> -->
							<!-- 									</tr> -->
							<tr th:each="d,i : ${mProduits}">
								<td><span th:text="${i.count}"> 1 </span></td>
								<!-- 										<td class="productimgname"><a href="javascript:void(0);" -->
								<!-- 											class="product-img"> <img -->
								<!-- 												src="assets/img/product/product1.jpg" alt="product"> -->
								<!-- 										</a> <a href="javascript:void(0);">Macbook pro</a></td> -->
								<td class="productimgname"><a
									th:href="@{'/produit/details/'+${d.produit.id}}"
									class="product-img"> <img
										th:src="@{'/img/uploads/'+${d.produit.photo}}">
								</a><span th:text="${d.produit.name}"> </span></td>
								<td><span th:text="${d.quantite}+' '+${d.produit.unite}">
								</span></td>
								<td><span
									th:text="${#temporals.format(d.createAt, 'dd-MM-yyyy HH:mm')}">
								</span></td>
								<td><span th:text="${d.user.fullName}"> </span></td>

								<td th:switch="${d.type}"><span th:case="'Entree'"
									class="badges bg-lightgreen" th:text="${d.type}"></span> <span
									th:case="'Sortie'" th:text="${d.type}"
									class="badges bg-lightred"></span></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer part -->
<div th:replace="layouts/footer :: footer"></div>