<div th:replace="layouts/header :: header"></div>

<div class="page-wrapper">
	<div class="content container-fluid">

		<div class="page-header">
			<div class="page-title">
				<h4>Utilisateurs</h4>
				<h6>Liste</h6>
			</div>
			<div class="page-btn">
				<!-- 				<a th:href="@{/view/categorieProduit/add}" class="btn btn-added"><img -->
				<!-- 					th:src="@{/img/icons/plus.svg}" class="me-2" alt="img">Ajouter</a> -->
				<a href="javascript:void(0);" class="btn btn-adds"
					data-bs-toggle="modal" data-bs-target="#create"><i
					class="fa fa-plus me-2"></i>Add Customer</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table  datanew ">
								<thead>
									<tr>
										<th></th>
										<th>Username</th>
										<th>Nom</th>
										<th>Role</th>
										<th>Date Creation</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<!-- 									<tr th:if="${listeCat.empty}"> -->
									<!-- 										<td colspan="9">Aucune depense disponible actuellement -->
									<!-- 											...</td> -->
									<!-- 									</tr> -->
									<tr th:each="d,i : ${listeUtil}">
										<td><span th:text="${i.count}"> 1 </span></td>
										<td><span th:text="${d.username}"> </span></td>
										<td><span th:text="${d.fullName}"> </span></td>
										<td><ul class="row" th:each="role,i: ${d.roles}">
												<li th:text="${role.name} + ','"></li>
											</ul></td>
										<td><span
											th:text="${#temporals.format(d.createAt, 'dd-MM-yyyy HH:mm')}">
										</span></td>

										<td><a th:href="@{'/utilisateur/delete/'+${d.id}}"><i
												class="fa fa-trash"></i></a></td>
										<td><a th:href="@{'/view/utilisateur/details/'+${d.id}}"><i
												class="fa fa-edit"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 	debut modale -->
	<div class="modal fade" id="create" tabindex="-1"
		aria-labelledby="create" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Creation utilisateur</h5>
					<button type="button" class="close" data-bs-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form role="form" method="post" th:action="@{/utilisateur/add}"
						th:object="${user}">
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Nom complet</label> <input type="text"
										th:field="*{fullName}">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Username</label> <input type="text"
										th:field="*{username}">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Telephone</label> <input type="number"
										th:field="*{telephone}">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Mot de passe</label> <input type="password"
										th:field="*{password}">
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-12">
								<div class="form-group">
									<label>Role</label> <select type="text" th:field="*{roleId}">
										<option th:each="val : ${listeRoles}" th:value="${val.id}"
											th:text="${val.name}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-submit me-2">Submit
							</button>
							<a class="btn btn-cancel" data-bs-dismiss="modal">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- footer part -->
	<div th:replace="layouts/footer :: footer"></div>